.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20;
  padding-right: 20px;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), #d8dee0);
}
.login-bg {
  background-image: url("../Images/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.7; */
  /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0.6)); */

}
.login-title {
  font-size: 24px;
  font-weight: 600;
  /* line-height: 2px; */
  color: white;
}

.login-detail {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  color: white;
}
.email {
  margin-top: 40px;

  width: 400px;
  height: 50px;
  /* background-color: red; */
  border-radius: 50px;
  border: none;
}
.email::placeholder {
  padding-left: 20px;
}
.password {
  margin-top: 40px;
  width: 400px;
  height: 50px;
  /* background-color: red; */
  border-radius: 50px;
  border: none;
}
.login-button {
  margin-top: 40px;
  width: 300px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
}
.password::placeholder {
  padding-left: 20px;
}
.watch-link {
  margin-top: 40px;
  color: blue;
  text-decoration: underline;
}
.klik-text {
  color: blue;
  text-decoration: underline;
  font-size: 16px;
}
.kilk-main {
  display: flex;
}
.empty-input {
  width: 300px;
  height: 30px;
  background-color: white;
  margin-top: 150px;
  border: none;
  /* border: none;s */
}
.bottom-mg {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .left-1 {
    padding-left: 10px;
  }
}
@media (max-width: 500px) {
  .email {
    width: 300px;
  }
  .password {
    width: 300px;
  }
  .login-button {
    width: 200px;
  }
  .left-1 {
    padding-left: 10px;
  }
  .empty-input {
    width: 250px;
  }
}
