.container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 50px; */
  padding: 10px;

  color: white;
}
.tableeee {
  display: flex;
  max-width: 320px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.tableBY {
  background-color: #263a6d;
  color: white;
  padding: 5px 10px;
  margin: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
}
.MuiTablePagination-menuItem {
  background-color: white !important;
}
.title {
  margin-top: 20px;
  text-align: center;
}

tr {
  height: 40px !important;
  color: white !important;
  border: 1px solid black !important;
}

th {
  max-width: 125px;
  min-width: 125px;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
  color: white !important;
  border: 1px solid black !important;
  min-width: 105px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

td {
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
  color: white !important;
  border: 1px solid black;
}
.MuiPaper-elevation1 {
  box-shadow: unset !important;
}
.MuiTableCell-root {
  border-bottom: unset !important;
}
